/* Hou comment: How would you avoid using HTML tag selectors to style your components? */

/* following styles approach and syntax from Giphy-Searcher by Jennifer Meade */
/* Set box-sizing for all elements */
*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --primary: #532c3e;
  --secondary: #2e4f63;
  --secondary-light: #dee9f3;
  --neutral: #8f8f8f;
  --neutral-light: #bdbdbd;
  --white: #fff;
  --zinger: #de6663;
}

/* Remove the body margin */
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
  background-color: var(--secondary-light);
}

h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 50pt;
  font-weight: lighter;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: var(--primary);
}

h3,
h4 {
  color: var(--secondary);
  text-align: center;
}

h6 {
  color: var(--neutral-light);
}
p {
  color: var(--secondary);
}

button {
  background-color: var(--zinger);
  border-color: var(--primary);
  border-style: none;
  color: var(--secondary-light);
  text-decoration: none;
  padding: 3px;
  margin-left: 5px;
  height: 40px;
}

input {
  border-color: var(--zinger);
  height: 40px;
  background-color: var(--secondary-light);
}

/* some of the following referenced from: https://css-tricks.com and https://www.hongkiat.com/blog/moving-css-grid-items */

/* GRID styling */

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  background-color: var(--secondary);
}

/* style banner */
.banner {
  display: flex;
  flex-flow: wrap;
  flex-basis: 100%;
  order: 1;
  width: 300px;
}

.siteinfo {
  background-color: var(--white);
  padding: 10px;
  margin: 5px;
  width: 300px;
  border-color: var(--primary);
  border-style: double;
  display: flex;
  order: 1;
}

.featured {
  background-color: var(--white);
  padding: 10px;
  margin: 5px;
  width: auto;
  height: 600px;
  border-color: var(--primary);
  border-style: double;
  display: flex;
  text-align: center;
  order: 2;
}

.instructions {
  background-color: var(--white);
  padding: 10px;
  margin: 5px;
  width: 400px;
  border-color: var(--primary);
  border-style: double;
  display: flex;
  order: 4;
}

ul {
  color: var(--primary);
  text-align: start;
}
.user-feature {
  background-color: var(--white);
  margin: 5px;
  width: auto;
  height: 200px;
  border-color: var(--primary);
  border-style: double;
  text-align: center;
  order: 2;
}

.favorite-form {
  background-color: var(--white);
  margin: 5px;
  width: auto;
  height: 200px;
  border-color: var(--primary);
  border-style: double;
  text-align: center;
  order: 2;
}

.user-search {
  background-color: var(--white);
  padding: 10px;
  margin: 10px;
  width: auto;
  border-color: var(--primary);
  border-style: double;
}
.search-panel {
  background-color: var(--white);
  padding: 10px;
  margin: 5px;
  widows: auto;
  border-color: var(--primary);
  border-style: double;
  display: flex;
  flex-direction: column;
  text-align: center;
}
