/* following styles approach and syntax from Giphy-Searcher by Jennifer Meade */
/* Set box-sizing for all elements */
*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --primary: #532c3e;
  --secondary: #2e4f63;
  --secondary-light: #dee9f3;
  --neutral: #8f8f8f;
  --neutral-light: #bdbdbd;
  --white: #fff;
  --zinger: #de6663;
}

/* Remove the body margin */
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
  background-color: var(--secondary-light);
}

/* style banner */
h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 50pt;
  font-weight: lighter;
  text-align: center;
  color: var(--white);
  background-color: #532c3e;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: #5e0f23;
}

p {
  color: var(--);
}

button {
  background-color: var(--secondary);
  border-color: var(--white);
  color: var(--secondary-light);
  padding: 3px;
  margin-left: 5px;
}

input {
  border-color: var(--secondary);
  color: var(--secondary-light);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.item {
  order: ;
  flex: 2 1 0 auto;
}

.parent {
  display: flex;
  height: 600px;
}

.child {
  width: 200px;
  height: 200px;
  margin: auto;
}
